/* Reset and basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

.header-content {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.header-content h1 {
    margin-bottom: 5px;
}

.header-content h2 {
    font-size: 1.2em;
    font-weight: normal;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #57b846;
}

.section-content {
    padding: 20px;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-content h2 {
    margin-bottom: 10px;
    color: #333;
}

.project {
    margin-bottom: 15px;
}

.project h3 {
    margin-bottom: 5px;
    color: #333;
}

.project a {
    color: #57b846;
    text-decoration: none;
    transition: color 0.3s;
}

.project a:hover {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
